<div class="encoding-facts-container">
  <h2>Encodage en temps réel des faits de match</h2>

  <!-- Timer -->
  <div class="timer">
    <h3>Timer: {{ formatTime(time) }}</h3>
    <button (click)="startStopTimer()" class="btn-blue">Démarrer/Arrêter</button>
    <h3>Quarter: {{ currentQuarter }}</h3>

  </div>


  <div class="main-container">
    <!-- Colonne de gauche - Équipe 1 -->
    <div class="action-column">
      <h3>Équipe 1 - Score: {{ homeTeamScore }}</h3>

      <!-- Sélection du joueur de l'équipe 1 -->
      <label for="scoringPlayerTeam1">Choisir un joueur :</label>
      <select [(ngModel)]="selectedPlayerTeam1" id="scoringPlayerTeam1">
        <option *ngFor="let player of match.homePlayers" [ngValue]="player">{{ player.firstName }} {{ player.lastName }}</option>
      </select>

      <!-- Boutons pour marquer un panier -->
      <div class="points-buttons">
        <button (click)="addPoints(1, 'team1')" [class.clicked]="selectedPointsTeam1 === 1">+1</button>
        <button (click)="addPoints(2, 'team1')" [class.clicked]="selectedPointsTeam1 === 2">+2</button>
        <button (click)="addPoints(3, 'team1')" [class.clicked]="selectedPointsTeam1 === 3">+3</button>
      </div>
      <button class="btn-green" (click)="recordScore('team1')">Valider Panier</button>

      <!-- Boutons pour enregistrer une faute -->
      <label for="foulTypeTeam1">Type de Faute :</label>
      <div class="foul-buttons">
        <button (click)="selectFoulType('P0', 'team1')" [class.clicked]="selectedFoulTypeTeam1 === 'P0'">P0</button>
        <button (click)="selectFoulType('P1', 'team1')" [class.clicked]="selectedFoulTypeTeam1 === 'P1'">P1</button>
        <button (click)="selectFoulType('P2', 'team1')" [class.clicked]="selectedFoulTypeTeam1 === 'P2'">P2</button>
        <button (click)="selectFoulType('P3', 'team1')" [class.clicked]="selectedFoulTypeTeam1 === 'P3'">P3</button>
      </div>
      <button class="btn-green" (click)="recordFoul('team1')">Valider Faute</button>
    </div>

    <!-- Colonne du centre - Résumé du Match -->
    <div class="summary-column">
      <h3>Résumé du Match</h3>
      <div class="summary">
        <p *ngFor="let action of actions">
          {{ action.text }} 
        </p>
      </div>


    </div>

    <!-- Colonne de droite - Équipe 2 -->
    <div class="action-column">
      <h3>Équipe 2 - Score: {{ awayTeamScore }}</h3>

      <!-- Sélection du joueur de l'équipe 2 -->
      <label for="scoringPlayerTeam2">Choisir un joueur :</label>
      <select [(ngModel)]="selectedPlayerTeam2" id="scoringPlayerTeam2">
        <option *ngFor="let player of match.awayPlayers" [ngValue]="player">{{ player.firstName }} {{ player.lastName }}</option>
      </select>

      <!-- Boutons pour marquer un panier -->
      <div class="points-buttons">
        <button (click)="addPoints(1, 'team2')" [class.clicked]="selectedPointsTeam2 === 1">+1</button>
        <button (click)="addPoints(2, 'team2')" [class.clicked]="selectedPointsTeam2 === 2">+2</button>
        <button (click)="addPoints(3, 'team2')" [class.clicked]="selectedPointsTeam2 === 3">+3</button>
      </div>
      <button class="btn-green" (click)="recordScore('team2')">Valider Panier</button>

      <!-- Boutons pour enregistrer une faute -->
      <label for="foulTypeTeam2">Type de Faute :</label>
      <div class="foul-buttons">
        <button (click)="selectFoulType('P0', 'team2')" [class.clicked]="selectedFoulTypeTeam2 === 'P0'">P0</button>
        <button (click)="selectFoulType('P1', 'team2')" [class.clicked]="selectedFoulTypeTeam2 === 'P1'">P1</button>
        <button (click)="selectFoulType('P2', 'team2')" [class.clicked]="selectedFoulTypeTeam2 === 'P2'">P2</button>
        <button (click)="selectFoulType('P3', 'team2')" [class.clicked]="selectedFoulTypeTeam2 === 'P3'">P3</button>
      </div>
      <button class="btn-green" (click)="recordFoul('team2')">Valider Faute</button>
    </div>
  </div>


</div>
